h1 {
    margin: 15px;
    text-align: center;
}

.userDetailsMainDiv {
    display: flex;
    justify-content: center;
}

form {
    margin-top: 40px;
    border: solid grey;
    border-radius: 10px;
    border-width: 1px;
}

label {
    display: inline-block;
    width: 140px;
    margin: 10px;
}

input {
    display: inline-block;
    width: 150px;
    height: 30px;
    border-radius: 7px;
    border-width: 1px;
    margin: 10px;
}

button {
    margin: 20px;
    width: 70%;
    height: 40px;
    background-color: #00B2FF;
    border: transparent;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.updateButton {
    display: flex;
    justify-content: center;
}