<!-- Reactive Form -->
<div class="userDetailsMainDiv">
    <form [formGroup]="userDetailsInformationForm">
        <h1>{{userDetails?.firstName}} {{userDetails?.lastName}}</h1>
        <div class="form-group">
            <label>Birthday</label>
            <input readonly type="date" formControlName="birthday" class="form-control">
            <label>Age</label>
            <input readonly type="number" formControlName="age" class="form-control">
        </div>
        <div class="form-group">
            <label>Expiration Date</label>
            <input type="date" formControlName="expirationDate" class="form-control">
            <label>Join Date</label>
            <input readonly type="date" formControlName="joinDate" class="form-control">
        </div>
        <div class="form-group">
            <span>
                <label>Membership</label>
                <select formControlName="membershipType" class="form-control">
                    <option 
                    *ngFor="let membershipTypes of membershipType" 
                    [ngValue]="membershipTypes">
                    {{membershipTypes.fee | currency: 'PHP'}} - {{membershipTypes.duration}} day/s
                    </option>
                </select>
            </span>
            <label>Terms and Condition</label>
            <input readonly type="text" formControlName="termsAndCondition" class="form-control">
        </div>
        <div class="updateButton">
            <button [disabled]="!userDetailsInformationForm.valid" class="btn1" type="submit" (click)="onSubmit()">Update</button>
            <button class="btn2" (click)="onDelete()">Delete</button>
        </div>
    </form>
</div>
