<!-- <h1>List of Members</h1> -->
<div class="filterDiv">
    <div class="filterTitle" (click)="filterClicked()">Filter Members</div>
    <div class="filterOptions" *ngIf="isClicked">
        <div class="filterOptionsDiv">
            <div class="filterOptionsTitle">Date Joined</div>
            <div class="filterOptionsInputs">
                <div class="filterOptionsInputsDiv">
                    <label for="dateFrom" class="filterOptionsInputsLabel">From:</label>
                    <input type="date" id="dateFrom" name="dateFrom">
                </div>
                <div class="filterOptionsInputsDiv">
                    <label for="dateTo" class="filterOptionsInputsLabel">To:</label>
                    <input type="date" id="dateTo" name="dateTo">
                </div>
            </div>
        </div>
        <div class="filterOptionsDiv">
            <span class="filterOptionsTitle">Membership Type</span>
            <span class="filterOptionsInputs">
                <label for="membershipType"></label>
                <select  id="membershipTypes" name="membershipTypes">
                    <option *ngFor="let membershipTypes of membershipType">{{membershipTypes.type}}</option>
                </select>
            </span>
        </div>
        <button class="applyButton">Apply</button>
    </div>
</div>
<div class="searchDiv">
    <label for="searchInput">Search:</label>
    <input type="search" id="searchInput" name="searchInput">
    <button>Search</button>
</div>
<div class="tableDiv">
    <table>
        <tr>
            <th>Gym ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Membership Type</th>
            <th>Last Login</th>
            <th>Last Logout</th>
        </tr>
        <tr (click)="onSelect(userDetail)" *ngFor="let userDetail of userDetails">
            <td>{{userDetail.id}}</td>
            <td>{{userDetail.firstName}}</td>
            <td>{{userDetail.lastName}}</td>
            <td>{{userDetail.membershipType.type}}</td>
            <td>{{userDetail.lastLogIn | date: 'medium'}}</td>
            <td>{{userDetail.lastLogOut | date: 'medium'}}</td>
        </tr>
    </table>
</div>