<div>
    <div>
        Update Account Informations
        <form>
            <label>Username</label>
            <input type="text" id="username" name="username">
            <label>Password</label>
            <input type="password" id="password" name="password">
            <label>First Name</label>
            <input type="text" id="firstName" name="firstName">
            <label>Last Name</label>
            <input type="text" id="lastName" name="lastName">
            <label>Age</label>
            <input type="number" id="age" name="age">
            <label>Birthday</label>
            <input type="date" id="birthday" name="birthday">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>