<div class="loginDiv">
    <div class="loginImg">
    <img src="..\..\assets\homescreen.jpg">
    </div>
    <div class="loginForm">
        <div>
            <form class="loginInput">
                <div class="loginUsername">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="loginPassword">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="loginButton">
                    <button type="submit">Log in</button>
                </div>
                <div class="forgotPasswordButton">Forgot password?</div>
            </form>
        </div>
        <div class="loginSignup">
            Don't have an account? 
            <span routerLink="/signup" class="loginSignupButton">Sign up</span>
        </div>
    </div>
</div>