.workoutRoutines{
    display: inline-block;
    width: 13.5%;
    margin: 0.1%;
    background-color: grey;
    color: white;
    text-align: center;
    height: 100px;
}

.workoutRoutinesDiv {
    display: flex;
    justify-content: center;
}
