<div>
    <div>
        <h2>Hi Ivan! Here's your workout routine</h2>
        <div class="workoutRoutinesDiv">
            <div class="workoutRoutines">
                Sunday
            </div>
            <div class="workoutRoutines">
                Monday
            </div>
            <div class="workoutRoutines">
                Tuesday
            </div>
            <div class="workoutRoutines">
                Wednesday  
            </div>
            <div class="workoutRoutines">
                Thursday
            </div>
            <div class="workoutRoutines">
                Friday   
            </div>
            <div class="workoutRoutines">
                Saturday
            </div>
        </div>
        <div>
            <button>Update Routine</button>
        </div>
    </div>
    <div>
        <h2>Gym Track Record</h2>
        <div>
            Calendar here with lots if checkboxes---------
        </div>
    </div>
</div>