<div class="menuBar">
    <div class="title">
        <nav>
            <a routerLink="/home">Welcome to {{title.toUpperCase()}}!</a>
        </nav>
    </div>
    <div class="mainButtons">
        <nav>
            <!-- routerLinkActive is the CSS of router -->
            <a routerLink="/user-details">Members</a>
            <a routerLink="/membership-details">Plans</a>
            <a routerLink="/home">Home</a>
            <a (click)="onClick()" class="accountButton">Account</a>
        </nav>
        <div *ngIf="isAccountClicked" class="accountOptionsDiv">
            <div class="accountOptions1" routerLink="/login">Login</div>
            <div class="accountOptions1" routerLink="/home">Logout</div>
            <div class="accountOptions1" routerLink="/signup">Sign up</div>
            <div class="accountOptions1" routerLink="/settings">Settings</div>
        </div>

    </div>
    <div *ngIf="isAccountClicked">
        <div class="frontendBackground" (click)="onClick()"></div>
    </div>

</div>