.title {
  position: absolute;
  left: 0;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  width: 330px;
}

.mainButtons {
  position: absolute;
  right: 0;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  width: 280px;
}

a {
  color: white;
  text-decoration: none;
  margin: 3%;
}

.menuBar {
  position: relative;
  display: flex;
  background-color: #474646;
  height: 50px;
  align-items: center;
  min-width: 700px;
}

.accountButton {
  cursor: pointer;
}

.accountOptionsDiv {
  position: absolute;
  top: 33px;
  right: 2%;
  background-color: gray;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  color: white;
  text-align: center;
  width: 100px;
  z-index: 1000;
}

.accountOptions1:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: bold;
}

.accountOptions1 {
  margin: 10%;
  cursor: pointer;
}

.backgroundDiv {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: calc(0.95 * 100vh);
  top: 0px;
}