.homeScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin: 0px;
    height: calc(100vh - 90px);
}

img {
    height: auto;
    margin: auto;
}